
<div class="form-container">
    <form [formGroup]="grupoInsumosForm" (submit)="onSubmit()">

        <div class="row">

            <mat-form-field class="form-field col-md-6">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="descricao">
            </mat-form-field>
          
            <mat-form-field class="form-field col-md-6">
                <mat-label>Status</mat-label>
                <select matNativeControl formControlName="status">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
            </mat-form-field>
        
        </div>

        <div class="div-buttons">
            <button mat-raised-button color="primary" type="submit">Gravar</button>
            <button mat-raised-button color="accent" class="button-voltar" (click)="voltarListagem()">Voltar</button>
        </div>
    </form>
</div>