









<!-- <p-table [value]="produtos" [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produto>
        <tr>
            <td>{{produto.id_produto}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.valor_venda}}</td>
            <td>
                <button mat-icon-button color="primary" (click)="add.emit(produto)">
                    <mat-icon>add</mat-icon>
                  </button>
            </td>
        </tr>
    </ng-template>
</p-table>
 -->